﻿@model readygotravel.Models.Person

@{
    ViewBag.Title = "Profile";
}

<div class="container">
    <div class="jumbotron">
        @if (ViewBag.Admin == 1)
        {
            <h3 style="font-size:xx-large;">Profile Page</h3>
        }
        else
        {
            <h2>Profile Page</h2>
        }
        <hr />

        <!--Personal information section-->
        <h4>Personal Information:</h4>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                Email
            </dt>
            <dd>
                @User.Identity.Name
            </dd>
        </dl>

        <!--History button section-->
        <hr />
        <h4>View Search History here:</h4>
        @Html.ActionLink("History", "UserSearches", "Searches", null, new { @class = "btn navbar-btn" })
        @if (ViewBag.Admin == 1)
        {
            @Html.ActionLink("Show Top Searched Locations", "Display", "TopLocations", null, new { @class = "btn navbar-btn" })
        }

        <!--Edit information section-->
        <hr />
        <h4>Edit your Profile information Here:</h4>
        @Html.ActionLink("Edit Name", "Edit", "People", null, new { @class = "btn navbar-btn" })
        @Html.ActionLink("Edit Password", "ChangePassword", "Manage", null, new { @class = "btn navbar-btn" })

    </div>
</div>

