﻿@using Microsoft.AspNet.Identity;
@using readygotravel.Models;
@using Microsoft.AspNet.Identity.EntityFramework;

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        { 
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                @if (User.Identity.IsAuthenticated)
                {
                    var user = User.Identity;
                    ApplicationDbContext context = new ApplicationDbContext();
                    var UserManager = new UserManager<ApplicationUser>
                        (new UserStore<ApplicationUser>
                            (context));
                    var roles = UserManager.GetRoles(user.GetUserId());
                    if (!(roles.Count == 0))
                    {
                        if (roles[0].ToString() == "Admin")
                        {
                            <a href="#" class="btn-link disabled btn" id="displayName">Hello Admin!</a>
                        }
                        else
                        {
                            <a href="#" class="btn-link disabled btn" id="displayName">Hello @User.Identity.GetUserName()!</a>
                        }
                    }
                    else
                    {
                        <a href="#" class="btn-link disabled btn" id="displayName">Hello @User.Identity.GetUserName()!</a>
                    }
                }
            </li>
                <li class="nav-item navChange">
                    @Html.ActionLink("My Profile", "Details", "People", routeValues: null, htmlAttributes: new { @class = "btn navbar-btn", title = "Manage" })
                </li>
                <li class="nav-item navChange"><a class="navChange btn navbar-btn" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
                }
                else
                {
                <ul class="navbar-nav navChange">
                    <li class="nav-item">@Html.ActionLink("Create Account", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn navbar-btn", id = "registerLink" })</li>
                    <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn navbar-btn", id = "loginLink" })</li>
                </ul>
                }
