﻿@model classproj.Models.Discussion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Discussion</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h4 class="center">@Html.DisplayNameFor(model => model.URL)</h4>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12" id="megaTable4">
            <h6 class="center">@Html.DisplayFor(model => model.URL)</h6>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h4 class="center">@Html.DisplayNameFor(model => model.ArticleTitle)</h4>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12" id="megaTable4">
            <h6 class="center">@Html.DisplayFor(model => model.ArticleTitle)</h6>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h4 class="center">@Html.DisplayNameFor(model => model.User.Email)</h4>
        </div>
        <div class="col-md-4">
            <h4 class="center">@Html.DisplayNameFor(model => model.Author)</h4>
        </div>
        <div class="col-md-4">
            <h4 class="center">@Html.DisplayNameFor(model => model.Timestamp)</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" id="megaTable4">
            <h6 class="center">@Html.DisplayFor(model => model.User.Email)</h6>
        </div>
        <div class="col-md-4" id="megaTable4">
            <h6 class="center">@Html.DisplayFor(model => model.Author)</h6>
        </div>
        <div class="col-md-4" id="megaTable4">
            <h6 class="center">@Html.DisplayFor(model => model.Timestamp)</h6>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h3 class="center">Discussion Title</h3>
            <!--<h3 class="center">@Html.DisplayNameFor(model => model.DiscussionTitle)</h3>-->
        </div>

    </div>
    <div class="row">
        <div class="col-md-12" id="megaTable6">
            <h5 class="center">@Html.DisplayFor(model => model.DiscussionTitle)</h5>
        </div>
    </div>
    <hr />
</div>
<div class="row">
    <div class="col-md-12" id="megaTable5">
        <h7 class="center">@Html.DisplayFor(model => model.Text)</h7>
    </div>
</div>
<hr />


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<hr />
<!--used to access DisccusionID in js file-->
<input type="hidden" id="DiscussionID" name"DiscussionID" value=@Model.ID>
<br />

<!--text box for comment-->
@Html.TextArea("CommentText", new { @class = "form-control CommentText", rows = 7, columns = 50, placeholder = "Enter a comment here.", required = "required" })
<br />

<!--submit button-->
@Html.TextBox("submited", "submit", htmlAttributes: new { @class = "btn btn-primary", type = "submit", style = "max-width:250px" })

<br />
<hr />
<h4>Comments:</h4>
<br />
<!--table for list of comments-->
<table border="1" width="100%" id="megaTable2" class="TableContent">
    

</table>

@section PageScripts{
    <script type="text/javascript" src="~/Scripts/AddComment.js"></script>
    <script type="text/javascript" src="~/Scripts/DisplayComments.js"></script>
}

