﻿@model IEnumerable<classproj.Models.Discussion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
 </p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Submitted By:", "Index", new { sortOrder = ViewBag.EmailSortParm })
        </th>
        <th>
            @Html.ActionLink("Original Article Title:", "Index", new { sortOrder = ViewBag.ArticleSortParm })
        </th>
        <th>
            @Html.ActionLink("Let's Talk About This:", "Index", new { sortOrder = ViewBag.DiscussionSortParm })
        </th>
        <th>
            @Html.ActionLink("Submitted On:", "Index", new { sortOrder = ViewBag.SubmissionSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td id="megaTable">
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td id="megaTable2">
                @Html.DisplayFor(modelItem => item.ArticleTitle)
            </td>
            <td id="megaTable2">
                @Html.DisplayFor(modelItem => item.DiscussionTitle)
            </td>
            <td id="megaTable2">
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td id="megaTable3">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
