@model readygotravel.Models.ViewModels.SearchDashBoardVM
@{
    ViewBag.Title = "Find a trip that fits in your budget!";
}

<div class="container">
    <div class="jumbotron">
        <div id="search-portion">
            <h2>Enter your trip details here!</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-lg-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", placeholder = "mm/dd/yyyy", id = "from" } })
                                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-lg-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control", placeholder = "mm/dd/yyyy", id = "to" } })
                                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NumTravelers, htmlAttributes: new { @class = "control-label" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.NumTravelers, Enumerable.Range(1, 9).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
                                    @Html.ValidationMessageFor(model => model.NumTravelers, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.HotelStarValue, htmlAttributes: new { @class = "control-label col-lg-12" })
                                <div class="col-md-10">
                                    @Html.DropDownList("HotelStarValue", new SelectList(ViewBag.Stars, "HotelStarValue"), htmlAttributes: new { @class = "form - control" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MaxAmount, htmlAttributes: new { @class = "control-label col-lg-12" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.MaxAmount, new { htmlAttributes = new { @class = "form-control", @min = "1", placeholder = "00.00" } })
                                    @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-lg-12">Departing From</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("StartAirport", new SelectList(ViewBag.States, "StartAirport"), htmlAttributes: new { @class = "form-control" })
                                    <span class="field-validation-valid text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label col-lg-12">Arriving To</label>
                                <div class="col-md-10">
                                    @Html.DropDownList("EndAirport", new SelectList(ViewBag.States, "EndAirport"), htmlAttributes: new { @class = "form-control" })
                                    <span class="field-validation-valid text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            @*<div class="form-group">
                                @Html.LabelFor(model => model.FlightType, htmlAttributes: new { @class = "control-label col-lg-12" })
                                <div class="col-md-10">
                                    @Html.DropDownList("FlightType", new SelectList(ViewBag.Flight, "FlightType"), htmlAttributes: new { @class = "form - control" })
                                </div>
                            </div>*@
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-10">
                                <div id="StartLabel"></div>
                                <div id="StartAirportSpot"></div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-10">
                                <div id="EndLabel"></div>
                                <div id="EndAirportSpot"></div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Search" class="btn btn-default" onclick="displayLoading()" />
                        </div>
                    </div>
                </div>
            }

            <div>
                <h6>@Html.ActionLink("Go Home", "Index", "Home")</h6>
            </div>

            @section Scripts {

                <script type="text/javascript" src="~/Scripts/chooseAirport.js"></script>
                <script type="text/javascript">
                    $(function () {
                        var dateFormat = "mm/dd/yy",
                            from = $("#from")
                                .datepicker({
                                    minDate: "+1",
                                })
                                .on("change", function () {
                                    to.datepicker("option", "minDate", getDate(this));
                                }),
                            to = $("#to").datepicker({
                                minDate: "+1",
                            })
                                .on("change", function () {
                                    from.datepicker("option", "maxDate", getDate(this));
                                });

                        function getDate(element) {
                            var date;
                            try {
                                date = $.datepicker.parseDate(dateFormat, element.value);
                            } catch (error) {
                                date = null;
                            }

                            return date;
                        }
                    });
                </script>
            }
        </div>

    </div>
    </div>

<!--Loading indicator part.-->
<script>
    //Adds loading indicater and clear content as well.
    function displayLoading() {
        //Clear content on page.
        $("#search-portion").attr("style", "display:none");

        //Add main div holding everything.
        var holder = $('<div>', { align: 'center' });

        //Add text part.
        var textPart = $('<h2>').text("Please wait while we process your data. This may take a minute.");
        holder.append(textPart);

        //Making loading indicator.
        var loadingPart = $('<div>', { class: 'loadingdiv' });
        loadingPart.append($('<div>', { class: 'alignBar'}));
        for (i = 0; i < 5; i++)
            loadingPart.append($('<span>'));
        holder.append(loadingPart);

        //add loading indicator to page.
        $(".jumbotron").append(holder);


    }

</script>