﻿@model readygotravel.Models.Search

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Search</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumTravelers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumTravelers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndState)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SearchID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
