﻿@model  readygotravel.Models.Result
﻿@{
    ViewBag.Title = "Can You Afford It?";
}

<div class="content">
    @{
        @**Situation where the user has the budget to go**@
        if (ViewBag.Result == 0)
        {
            <h2>Your Results are in...</h2>
            <div class="row">
                <div class="mx-auto d-block">
                    <img src="@Url.Content("~/Content/Images/CanGo.png")" style="width:210px; height:170px" />
                </div>
            </div>
            <div class="row" align="center">
                <div class="mx-auto d-block">
                    <h4>@ViewBag.Message @string.Format("{0:C}", ViewBag.Total)</h4>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto d-block">
                    <h4>@ViewBag.Message2 @string.Format("{0:C}", ViewBag.Remaining)</h4>
                </div>
            </div>
        }
        @**Situation where the user is just alittle short on budget**@
        else if (ViewBag.Result == 1)
        {
            <h2>Your Results are in...</h2>
            <div class="row">
                <div class="mx-auto d-block">
                    <img src="@Url.Content("~/Content/Images/AlmostGo.png")" style="width:210px; height:170px" class="img-responsive" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto d-block">
                    <h4>@ViewBag.Message @string.Format("{0:C}", ViewBag.Remaining)</h4>
                </div>
            </div>
        }
        @**Situation where the user does not have the budget necessary**@
        else if (ViewBag.Result == 2)
        {
            <h2>Your Results are in...</h2>
            <div class="row">
                <div class="mx-auto d-block">
                    <img src="@Url.Content("~/Content/Images/CannotGo.png")" align="middle" style="width:210px; height:170px" />
                </div>
            </div>
            <div class="row">
                <div class="mx-auto d-block">
                    <h4>@ViewBag.Message @string.Format("{0:C}", ViewBag.Remaining)</h4>
                </div>
            </div>
        }
        @**Situation where the user chose the same start and ending location (flight API error)**@
        else if (ViewBag.Result == 3)
        {
            <div class="row">
                <div class="mx-auto d-block">
                    <img src="@Url.Content("~/Content/Images/UserError.png")" style="width:210px; height:170px" />
                </div>
            </div>
            <div class="row" align="center">
                <div class="mx-auto d-block">
                    <h4>@ViewBag.Message</h4>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto d-block">
                    <h4>@ViewBag.Message2</h4>
                </div>
            </div>
            <input class="btn btn-default" type="button" value="Search Again" onclick="location.href='@Url.Action("Create", "Searches")'" />
        }
        @**Situation where the user requested flight information and there were no flights that matched that criteria**@
        else
        {
            <div class="row">
                <div class="mx-auto d-block">
                    <img src="@Url.Content("~/Content/Images/NoFly.png")" style="width:210px; height:170px" />
                </div>
            </div>
            <div class="row" align="center">
                <div class="mx-auto d-block">
                    <h4>@ViewBag.Message</h4>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto d-block">
                    <h4>@ViewBag.Message2</h4>
                </div>
            </div>
            <input class="btn btn-default" type="button" value="Search Again" onclick="location.href='@Url.Action("Create", "Searches")'" />

        }
    }
</div>
@{
    @**If there are no errors in the flight results, then break down the budget**@
    if (ViewBag.Result != 3 && ViewBag.Result != 4)
    {
        <div class="content">
            <h2>Budget Breakdown:</h2>
            <hr />
            <div class="d-flex justify-content-end">
                <div class="row">
                    <h6>Total Budget Allocated:&nbsp;</h6><h6 class="text-success">@string.Format("{0:C}", ViewBag.Total + ViewBag.Remaining)</h6>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="row">
                    <h6>Total Flight Cost to go from @Html.DisplayFor(m => m.Search.Airport.State.StateName) (@Html.DisplayFor(m => m.Search.Airport.AirportCode) Airport) to @Html.DisplayFor(m => m.Search.Airport1.State.StateName) (@Html.DisplayFor(m => m.Search.Airport1.AirportCode) Airport):&nbsp;</h6><h6 class="text-danger"> -$@Html.DisplayFor(m => m.AvgFlightAmount)</h6>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="row">
                    @if (Model.AvgHotelAmount != (decimal)0.00)
                    {
                        <h6>Total Hotel Cost for @Html.DisplayFor(m => m.Search.NumTravelers) people staying for @ViewBag.NumDays days will be around:&nbsp;</h6><h6 p class="text-danger"> -$@Html.DisplayFor(m => m.AvgHotelAmount)</h6>
                    }
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="row">
                    <h6>Total Food Cost for @Html.DisplayFor(m => m.Search.NumTravelers) people over @ViewBag.NumDays days will be around:&nbsp;</h6><h6 class="text-danger"> -$@Html.DisplayFor(m => m.AvgFoodCost)</h6>
                </div>
            </div>
            <hr />
            @if (ViewBag.Result >= 1)
            {
                <div class="d-flex justify-content-end">
                    <div class="row">
                        <h6>This is how much additional funds you would need: &nbsp;</h6><h6 class="text-danger">=@string.Format("{0:C}", ViewBag.Remaining) </h6>
                    </div>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-end">
                    <div class="row">
                        <h6>This is your remaining budget for entertainment and transportation:&nbsp;</h6><h6 class="text-success">=@string.Format("{0:C}", ViewBag.Remaining) </h6>
                    </div>
                </div>
            }
            <br />

            <div class="d-flex justify-content-end">
                <div class="row">
                    @if (Model.AvgHotelAmount != (decimal)0.00)
                    {
                        <h6>The average hotel star value that was calculated based on your input is: @Html.DisplayFor(m => m.AvgHotelStar)</h6>
                    }
                    @if (Model.AvgHotelAmount == (decimal)0.00)
                    {
                        <h6>There were no hotels found given your search parameters</h6>
                    }
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div class="row">
                    @if (Model.AvgHotelAmount != (decimal)0.00)
                    {

                        for (int i = 0; i < ViewBag.Stars; i++)
                        {
                            <img src="@Url.Content("~/Content/Images/Star.PNG")" align="middle" style="width:30px; height:20px" />

                        }
                        if (ViewBag.Decimal == (decimal)0.25)
                        {
                            <img src="@Url.Content("~/Content/Images/1-4Star.PNG")" align="middle" style="width:30px; height:20px" />
                        }
                        if (ViewBag.Decimal == (decimal)0.5)
                        {
                            <img src="@Url.Content("~/Content/Images/1-2Star.PNG")" align="middle" style="width:30px; height:20px" />
                        }
                        if (ViewBag.Decimal == (decimal)0.75)
                        {
                            <img src="@Url.Content("~/Content/Images/3-4Star.PNG")" align="middle" style="width:30px; height:20px" />
                        }
                    }
                    
                </div>
            </div>
            <input class="btn btn-default" type="button" value="Search Again" onclick="location.href='@Url.Action("Create", "Searches")'" />
        </div>
        <div class="content">
            <h2 style="font-size:large;">Disclaimer</h2>
            <div class="row">
                <p style="font-size: smaller">
                    Here at ReadyGO-Travel, our goal is to assist you with balancing your travel budget while
                    providing you with the best hotel and flight costs options available. We in no way can
                    gaurantee "exact" pricing simply due to the nature of what our site aims to
                    provide.  We focus more on averaging costs in an attempt to prepare you for the overall amount
                    total so that you can get a generalized idea and plan your budget accordingly.
                    To find out more about how this information is calculated, please click on the button below:
                </p>
            </div>
            <div class="row">
                <div class="mx-auto d-block">
                    <input id="submit" class="btn btn-default" type="submit" value="Disclaimer Details" onclick="detailsClicked()" style="visibility:visible" />
                    <p id="flight" align="left" style="font-size: smaller">
                    </p>
                </div>
            </div>
            <div class="appendLoc">
            </div>
            <br />
            <div class="mx-auto d-block">
                <h2 style="font-size:large;">Sites to Book your Flight/Hotel</h2>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <h6><a href="https://www.priceline.com/?tab=vacations">Priceline</a></h6>
                    </div>
                    <div class="col-md-2">
                        <h6><a href="https://www.expedia.com/">Expedia</a></h6>
                    </div>
                    <div class="col-md-2">
                        <h6><a href="https://www.tripadvisor.com">TripAdvisor</a></h6>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    }
}
<br />
<br />


@section PageScripts{
    <script type="text/javascript" src="~/Scripts/Disclaimer.js"></script>

}
