﻿body {
    padding-bottom: 20px;
    background-color: #aac7fe;
}

.center,
img {
    text-align: center;
    align-content: center;
}

input {
    width: 85%;
    height: 30px;
    border-radius: 10px;
}

h1,
h2,
h3,
h4,
p {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #23458d;
}

.btn,
button {
    color: #23458d;
    background-color: white;
    border-radius: 5px;
}

.btn-primary:hover {
    color: white;
    background-color: #23458d;
}

button:hover {
    color: white;
    background-color: #23458d;
}

#megaTable {
    font-style: italic;
    color: #23458d;
    border-radius: 12px 0px 0px 12px;
    border-color: blue;
    background-color: white;
    font-weight: bold;
}
#megaTable2 {
    font-style: italic;
    color: #23458d;
    border-color: blue;
    background-color: white;
    font-weight: bold;
}

#megaTable3 {
    font-style: italic;
    color: #23458d;
    border-radius: 0px 12px 12px 0px;
    border-color: blue;
    background-color: white;
    font-weight: bold;
}

#megaTable4 {
    font-style: italic;
    color: #23458d;
    border-radius: 12px 12px 12px 12px;
    border-color: blue;
    background-color: white;
    font-weight: bold;
}
#megaTable5 {
    color: black;
    border-color: blue;
    border-radius: 12px 12px 12px 12px;
    background-color: azure;
    grid-auto-rows: initial 100px;
    display: grid;
    grid-template-rows: 100px 100px;
}

#megaTable6 {
    color: black;
    border-color: blue;
    border-radius: 12px 12px 12px 12px;
    background-color: azure;
}
